{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html>
<head>

  {% if not debug %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112092965-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112092965-1');
  </script>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'public_website/css/video-react.css' %}"></link>
  <title>Verboze</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'public_website/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'public_website/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'public_website/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'public_website/favicons/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'public_website/favicons/safari-pinned-tab.svg' %}" color="#1d397b">
  <meta name="apple-mobile-web-app-title" content="Verboze">
  <meta name="application-name" content="Verboze">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
  <div id="react-app" style="height: 100%; width: 100%"></div>

  {% if debug %}
    {% render_bundle 'public_website' 'js' %}
  {% else %}
    {% render_bundle 'public_website' 'js' %}
  {% endif %}

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
</body>
</html>
