nav.navbar {
	z-index: 1;
    right: 0;
    margin: 0 auto;
    left: 0;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.navbar-dark .navbar-nav .nav-item {
	height: 50px;
}

.navbar-dark .navbar-nav .nav-item:hover {
	color: white;
	background: rgba(255, 255, 255, 0.15);
}

nav.bg-dark {
  	background-color: transparent !important;
}

nav.bg-light {
  	background-color: white !important;
}

@media (max-width: 992px) {
	nav.bg-dark {
		background: rgba(0, 0, 0, 0.35) !important;
	}
}


#navbarLogo {
	margin-right: 15px;
}

div.dropdown-menu {
	border-radius: 0;
	width: 185px;
	margin-top: 5px;
}

div.dropdown-divider {
	width: 165px;
    margin-left: 8px;
    border-top: 1px solid rgba(232, 233, 232, 1);
}

a.dropdown-item {
	padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 0.4rem;
    width: 165px;
    margin: auto;
    font-weight: lighter;
}

a.dropdown-item:hover {
	background-color: rgb(242, 211, 210);
}

.navbar-dark .navbar-nav .active>.nav-item, .navbar-dark .navbar-nav .nav-item.active, .navbar-dark .navbar-nav .nav-item.show, .navbar-dark .navbar-nav .show>.nav-item {
	color: white;
    background: rgba(255, 255, 255, 0.15);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}

span.nav-link, a.nav-link {
	color: white;
	margin-right: 17px;
	margin-left: 17px;
	border-bottom: 0.3px solid;
    border-bottom-color: #D04F4C;
}


a.nav-item:hover {
    text-decoration: none !important;
}


ul.navbar-nav.mt-2.mt-lg-0 {
	font-weight: lighter;
}

a.navbar-brand {
	letter-spacing: 15px;
}


@media (min-width: 992px) {
	a.navbar-brand {
		margin-top: -10px;
	}
}
